################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/solution/x64/Debug
/solution/.vs/flow/v14
/solution/flow.VC.VC.opendb
/solution/flow.VC.db
/.vs/flow/v14
